<h1>Orders</h1>

<%= global_search_form(admin_orders_path) %>

<div class="span3">
  <ul class="unstyled" id="markers_list">  </ul>
</div>

<div class="span9">
  <%= gmaps(
    "markers" => {
      "map_options" => {"auto_adjust" => true},
      "data" => @gmap_json,
      "options" => {
        "list_container" => "markers_list",
        "randomize" => true,
        "max_random_distance" => "2",
        "do_clustering" => true,
        "clusterer_maxZoom" => 20
      }
    }
  ) %>
</div>