/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require jquery.ui.datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
*/

th .cur {
  padding-right: 17px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(/images/up_arrow.gif);

}

th .desc {
  background-image: url(/images/down_arrow.gif);
}

.compares-table td {
  width: 200px;
}

div .modal {
  width: 800px;
}

.comment-text {
  padding: 10px 5px 10px 0px;
  border-top: 1px dashed #999;
  border-bottom: 1px dashed #999;
}

/*.comment-elements {
  margin-left: 0px + 100px;
}*/