<%= render "products_search_form_fields" %>

<div class="control-group span12">
  <%= label_tag "User", nil, class: "control-label" %>
  <div class="controls">
    <%= select_tag "search[user_ids]", options_for_select(User.all_registered.collect { |u| [u.login, u.id] }), {multiple: true}  %>
  </div>
</div>