<div class="span3">
  <h1>Categories</h1>
  <table id="tree_grid_categories"></table>
  <div id="pager_categories"></div>
</div>

<div id="table_products" class="span9">
  <%= render "products" %>
</div>
